# MacOS metadata files
**/.DS_Store

# VSCodeCounter files
.VSCodeCounter

# Environment variables
**/.env

# Environment config
**/.vscode

# Agent spec blueprint files
.reference/web-client-blueprint.md
